//box-shadow
@mixin box-shadow($Horizontal, $Vertical, $Blur, $Spread, $Color) {
    box-shadow: $Horizontal $Vertical $Blur $Spread $Color;
    -webkit-box-shadow: $Horizontal $Vertical $Blur $Spread $Color;
    -moz-box-shadow: $Horizontal $Vertical $Blur $Spread $Color;
}

@mixin rotate($deg) {
    -ms-transform: rotate($deg);
    /* IE 9 */
    -webkit-transform: rotate($deg);
    /* Safari 3-8 */
    transform: rotate($deg);
}

//transition
@mixin transition($property, $duration, $easing: linear) {
    transition: $property $duration $easing;
    -webkit-transition: $property $duration $easing;
    -moz-transition: $property $duration $easing;
}

//border-radius
@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}


/*asif*/

@mixin opacity($value) {
    $IEValue: $value*100;
    opacity: $value;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
    filter: alpha(opacity=$IEValue);
}

@mixin display-flex() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin box-align($align) {
    -webkit-box-align: $align;
    -ms-flex-align: $align;
    -webkit-align-items: $align;
    align-items: $align;
}


/*fon face*/

@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf") format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
}


/*asif end*/

//input-placeholder 
@mixin input-placeholder {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}

@mixin media($point) {
    @if $point==mobile {
        @media (max-width: 1024px) {
            @content;
        }
    }
    @else if $point==smallScreen {
        @media (max-width: 768px) {
            @content;
        }
    }
    @else if $point==smallMobile {
        @media (max-width: 500px) {
            @content;
        }
    }
    @else if $point==only-tab {
        @media (max-width: 1024px) and (min-width: 768px) {
            @content;
        }
    }
}