/*theme colors */

@include font-face('opensans-regular', 'opensans-regular-webfont', '../fonts');
@include font-face('opensans-light', 'opensans-light-webfont', '../fonts');
@include font-face('opensans-semibold', 'opensans-semibold-webfont', '../fonts');
@include font-face('opensans-bold', 'opensans-bold-webfont', '../fonts');
$clr-red:#f01616;
$clr-green:#91a603;
$clr-theme:#0f1a29;
$clr-default:#000;
$clr-base: #5f5d70;
$clr-base-dark: #232323;
$clr-lightgrey:#595959;
$clr-white:#ffffff;
$clr-yellow: #e6bd0f;

/* border */

$clr-border:rgba(244, 0, 0, 0.2);
$clr-border-grey:#f1f1f1;

/* font weight */

$font-regular:400;
$font-light:300;
$font-medium:600;
$font-bold:700;

/* font family */

// $fnt1:'opensans-regular';
// $fnt2:'opensans-light';
// $fnt3:'opensans-semibold';
// $fnt4:'opensans-bold';

/* breakpoints */

$small-mobile-breakpoint: 320px;
$mobile-breakpoint: 767px;
$tablet-breakpoint:992px;
$ipad-horizontal-breakpoint:1199px;

/* bs-card */

$font-size: 12px;
$line-height: 1.4;
$lines-to-show: 2;