@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?e7j8bf');
    src: url('../fonts/icomoon.eot?e7j8bf#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?e7j8bf') format('truetype'), url('../fonts/icomoon.woff?e7j8bf') format('woff'), url('../fonts/icomoon.svg?e7j8bf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone-call:before {
    content: "\e91a";
  }
  .icon-like:before {
    content: "\e918";
  }
  .icon-like-filled:before {
    content: "\e919";
  }
  .icon-chevron-left:before {
    content: "\e912";
  }
  .icon-chevron-right:before {
    content: "\e913";
  }
  .icon-map:before {
    content: "\e915";
  }
  .icon-thumb-up:before {
    content: "\e917";
  }
  .icon-smartphone:before {
    content: "\e916";
  }
  .icon-record-circular-button:before {
    content: "\e914";
  }
  .icon-edit:before {
    content: "\e911";
  }
  .icon-calendar:before {
    content: "\e90f";
  }
  .icon-search:before {
    content: "\e910";
  }
  .icon-camera:before {
    content: "\e900";
  }
  .icon-check:before {
    content: "\e901";
  }
  .icon-close:before {
    content: "\e902";
  }
  .icon-diamond:before {
    content: "\e903";
  }
  .icon-dropdown:before {
    content: "\e904";
  }
  .icon-favourites-fill:before {
    content: "\e905";
  }
  .icon-favourites:before {
    content: "\e906";
  }
  .icon-map-pin:before {
    content: "\e907";
  }
  .icon-map-pointer:before {
    content: "\e908";
  }
  .icon-notification:before {
    content: "\e909";
  }
  .icon-rating-fill:before {
    content: "\e90a";
  }
  .icon-rating:before {
    content: "\e90b";
  }
  .icon-share:before {
    content: "\e90c";
  }
  .icon-time:before {
    content: "\e90d";
  }
  .icon-user:before {
    content: "\e90e";
  }
  .icon-google-plus:before {
    content: "\ea8b";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  .icon-linkedin:before {
    content: "\eaca";
  }
  .icon-snapchat-ghost:before {
    content: "\f2ac";
  }
  