.btn-group__multiple {
	input {
		margin: 0 4px 0 0;
		padding: 0;
		position: relative;
		top: 1px;
	}
	ul {
		li {
			position: relative;
		}
		label {
			position: relative;
			z-index: 1;
		}
		input {
			margin-top: -8.5px;
			position: absolute;
			z-index: 0;
			top: 50%;
		}
	}
	.dropdown-menu {
		min-width: 100%;
		label {
			padding-left: 20px;
		}
	}
	label {
		&::selection {
			background-color: transparent;
		}
	}
	.btn-placeholder {
		span[data-value]:after {
			content: ', ';
		}
		span[data-value].last-visible {
			&:after {
				content: '';
			}
		}
	}
	& > .btn {
		width: 200px;
		overflow: hidden;
	}
}
.btn-group__multiple-radio {
	.num {
		display: none;
	}
}
