.cm-line-break {
    display: block;
}

.cm-dot {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cm-clear {
    clear: both;
}

.cm-hidden {
    display: none;
}

.bx-shadow {
    @include box-shadow(0px, 0px, 4px, 3px, rgba(255, 42, 0, 0.10));
    @include border-radius(6px);
}

.icon-favourites,
.icon-share {
    color: #fff;
    vertical-align: middle;
}

.txt-br {
    display: block;
}


/*sagar.css*/

a {
    color: $clr-theme;
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

// button {
//     &:hover,
//     &:focus {
//         text-decoration: none;
//         outline: none;
//         outline-offset: none;
//     }
//     &.active {
//         outline: none;
//         box-shadow: none;
//     }
// }
.cm-radius {
    @include border-radius(4px);
    overflow: hidden;
}

.cm-rating,
.cm-rating:hover {
    color: $clr-white;
    vertical-align: middle;
    &.filtermap-rating {
        color: #e6bd0f;
    }
    .icon {
        font-weight: $font-bold;
    }
}

img {
    max-width: 100%;
}

.cm-white {
    color: $clr-white;
}

.icon-favourites-fill {
    color: #f01616;
}

.cm-pipe {
    margin-left: -8px;
    margin-right: -5px;
    >span {
        display: inline-block;
        padding: 0 5px 0 8px;
        border-left: solid 1px #c4c0c0;
        font-family: $fnt3;
        font-size: 12px;
        line-height: 100%;
        &:first-child {
            border-left: none;
        }
    }
}

.cm-btn {
    color: $clr-white;
    background-color: $clr-red;
    @include border-radius(4px);
    text-align: center;
    padding: 7px 10px;
    display: inline-block;
    @include transition(all, 0.3s, linear);
    // transition: all .3s linear;
    // -webkit-transition: all .3s linear;
    // -moz-transition: all .3s linear;
    &.disabled {
        background-color: #fff3f0;
        color: rgba(240, 22, 22, .30);
        &:hover {
            color: rgba(240, 22, 22, .30);
        }
    }
    &:hover {
        color: $clr-white;
    }
}

#map {
    height: 400px;
    width: 100%;
}

.cm-map {
    height: 400px;
    width: 100%;
    &.type-filter-map {
        height: 500px;
    }
}

.datepicker table tr td.today.active {
    background: #f01616;
    color: #fff;
}

.datepicker table tr td.today {
    background: #d8d8d8;
    background-image: none;
    border-color: transparent;
    color: #000;
    border-radius: 50%;
    &:hover {
        background: #d8d8d8;
        background-image: none;
        border-color: transparent;
        color: #000;
        border-radius: 50%;
    }
}

.datepicker table tr td.today:hover:hover {
    background-color: #d8d8d8;
}

.datepicker table tr td.disabled {
    cursor: not-allowed;
    color: #d8d8d8;
}

.btn-lnk {
    color: $clr-red;
    margin: 0;
    padding: 0;
    display: initial;
    &:hover {
        color: $clr-red;
    }
}

div#locationField .loaderimg {
    width: 50px;
}

.gm-style .gm-style-iw-d .bs-card.type-filtermap {
    content: " ";
    display: table;
    border-bottom: none;
}

.ui-autocomplete-loading {
    background-size: contain!important;
}

img.loaderimg {
    width: 50px;
}

.main-wrapper.transparent .bs-header .logo-parent .logo-white,
.main-wrapper .bs-header .logo-parent .logo-black {
    width: 100px;
    display: block;
    margin: 0 auto;
}

.bs-footer .ftr-logo {
    width: 100px;
    display: block;
}

h2 {
    font-size: 26px;
}

.grey-booking {
    padding: 15px;
    background: #f4f4f4;
    margin-bottom: 15px;
}

.call-link {
    margin: 0 0 0 10px;
    &:hover,
    &:focus {
        color: $clr-red;
    }
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url('../images/download2.svg');
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url('../images/download1.svg');
}

@media screen and (max-width:767px) {
    .online-offline-booking {
        .call-link {
            margin: 0;
            display: block;
        }
    }
    .offline-booking {
        .call-link {
            margin: 0;
            display: block;
        }
    }
}

.swiper-wrapper.disabled {
    transform: translate3d(0px, 0, 0) !important;
}

.swiper-pagination.disabled .swiper-pagination-bullet {
    display: none;
}

.mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar.mCSB_dragger_onDrag {
    border-radius: 5px;
    background-color: #999999!important;
}

.gm-ui-hover-effect {
    margin: 4px !important;
}

.txt-red {
    font-family: $fnt4;
    font-size: 22px;
    margin-bottom: 15px;
    color:$clr-red;
}