.bs-tab-headings {
    .border-line {
        margin-top: 20px;
        &:after {
            content: " ";
            display: block;
            width: 100%;
            height: 1px;
            background: #bebebe;
            margin-top: 20px;
        }
    }
    .tab-head {
        font-family: $fnt4;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .tab-head-regular {
        font-family: $fnt1;
        font-size: 16px;
    }
    .tab-subhead {
        font-family: $fnt4;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .tab-para {
        font-family: $fnt1;
        font-size: 14px;
        .txt-bold {
            font-family: $fnt4;
        }
    }
    .para-big {
        font-family: $fnt1;
        font-size: 16px;
    }
    .maplnk {
        margin-top: 25px;
        // margin-bottom: 30px;
        .btn {
            font-size: 16px;
            padding: 0;
        }
        .icon-map-pin {
            font-size: 18px;
            color: $clr-red;
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .bs-tab-headings {
        .border-line {
            margin-top: 20px;
            &:after {
                margin-top: 20px;
            }
        }
        .tab-head {
            font-size: 18px;
            margin-bottom: 15px;
        }
        .tab-head-regular {
            font-size: 18px;
        }
        .tab-subhead {
            font-size: 15px;
            margin-bottom: 10px;
        }
        .tab-para {
            font-size: 12px;
        }
        .para-big {
            font-size: 15px;
        }
        .maplnk {
            margin-top: 20px;
            .btn {
                font-size: 14x;
            }
            .icon-map-pin {
                font-size: 14px;
            }
        }
    }
}