.bs-form {
    .form-group {
        .form-control {
            border: 0;
            box-shadow: none;
            border-bottom: 1px solid $clr-border;
            font-size: 14px;
            font-family: $fnt4;
            @include border-radius(0);
            padding: 12px 0;
            height: auto;
            &[readonly] {
                background: transparent;
            }
            &.hasCustomSelect{
                top: 0;
            }
        }
        .material {
            position: relative;
            .label-input {
                font-weight: normal;
                bottom: 8px;
                position: absolute;
                left: 0;
                color: rgba(#000, 0.7);
                @include transition(all, 0.2s, linear);
                cursor: text;
            }
            .form-control {
                &:focus {
                    +.label-input {
                        bottom: 29px;
                        font-size: 11px;
                        left: -1px;
                    }
                }
            }
            &.focus {
                .label-input {
                    bottom: 29px;
                    font-size: 11px;
                    left: -1px;
                }
            }
            &.readonly {
                .label-input {
                    font-size: 18px;
                    color: #000;
                    font-family: $fnt4;
                }
                input[readonly] {
                    border-bottom: 1px solid transparent;
                }
                input::placeholder {
                    color: #ccc;
                }
                .form-control {
                    &:focus {
                        +.label-input {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .flag-input {
            .iti-flag {
                background-image: url(../images/flags.png);
            }
            .intl-tel-input {
                display: block;
            }
            .intl-tel-input {
                &.separate-dial-code {
                    .selected-flag {
                        background: transparent;
                        padding-left: 0;
                    }
                }
            }
        }
        &.select-parent {
            position: relative;
            &:before {
                content: "\e904";
                font-family: 'icomoon';
                position: absolute;
                right: 0px;
                top: 50%;
                margin-top: -12px;
                font-size: 17px;
                color: #595959;
            }
            .form-control {
                option {
                    color: #000;
                }
            }
        }
        &.transparent {
            .form-control {
                color: #fff;
                background: transparent;
                border-bottom-color: rgba(255, 255, 255, 0.5);
            }
            .icon {
                color: #fff;
            }
        }
        &.left-icon {
            position: relative;
            .icon {
                position: absolute;
                left: 0;
                top: 50%;
                font-size: 16px;
                margin-top: -8px;
                &.type-icon-postiton {
                    position: relative;
                    left: auto;
                    right: initial;
                }
            }
            .location-text {
                color: #fff;
                background: transparent;
                padding-left: 25px;
                margin-bottom: 0;
                margin-right: 10px;
            }
            // .form-control {
            //     padding-left: 25px;
            // }
            .icon-line {
                width: 17%;
            }
        }
        &.bg {
            .form-control {
                padding-left: 6px;
                padding-right: 6px;
                @include border-radius(4px);
                border: 0;
                color: #000;
            }
            &.left-icon {
                .form-control {
                    padding-left: 36px;
                }
                .icon {
                    left: 10px;
                }
            }
            &.select-parent {
                &:before {
                    right: 12px;
                }
            }
        }
        &.regular {
            font-family: $fnt1;
        }
    }
    &.inline {
        padding: 0 15px;
        @include border-radius(4px);
        background: #fff;
        [class*="col"] {
            padding: 0;
            .form-group {
                margin-bottom: 0;
            }
            .form-control {
                @include border-radius(0);
                background: transparent;
            }
            &:after {
                content: '';
                position: absolute;
                background: $clr-border;
                height: 31px;
                width: 1px;
                position: absolute;
                right: 0;
                top: 7px;
            }
        }
    }
    &.regular {
        .form-group {
            .form-control {
                font-family: $fnt1;
            }
        }
    }
    .button-group {
        margin: 0 -10px;
        .btn {
            margin: 0 10px;
        }
    }
    .btn-parent {
        margin-top: 30px;
    }
    .error {
        color: $clr-red;
        margin-top: 5px;
        font-size: 11px;
    }
    .common-error {
        margin-top: 20px;
    }
}

@media screen and (max-width: $tablet-breakpoint) {
    .bs-form {
        .bs-search-box {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .bs-form {
        .bs-search-box {
            margin-top: 0;
        }
    }
}