.bs-footer {
    padding: 40px 0 40px 0;
    border-top: 1px solid #e8e8e8;
    h3 {
        // font-size: $font14;
        color: #000;
        text-transform: uppercase;
        margin: 0 0 20px 0;
        font-family: $fnt4;
        font-size: 14px;
    }
    .container {
        max-width: 1130px;
    }
    .chefcan-info {
        p {
            color: $clr-lightgrey;
            font-size: 12px;
            line-height: inherit;
            margin: 0 0 20px 0;
            line-height: 16px;
            &.security {
                img {
                    margin: 0 25px 0 0;
                    display: inline-block;
                }
            }
        }
    }
    .quicklinks {
        ul {
            li {
                font-size: 12px;
                margin: 0 0 5px 0;
                a {
                    color: $clr-lightgrey;
                    font-size: 12px;
                    @include transition(color, 0.3s, linear);
                    &:hover {
                        color: $clr-red;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.social {
    margin: 0 0 0 0;
    p.img-space {
        img {
            margin: 0 20px 0 0;
            display: inline-block;
        }
    }
    p.social-icons {
        margin: 0;
        a {
            width: 30px;
            height: 30px;
            @include border-radius(50%);
            display: block;
            float: left;
            margin: 0 10px 0 0;
            &:last-child {
                margin-right: 0;
            }
            span {
                display: inline-block;
                text-indent: -9999px;
                font-size: 0;
            }
            i {
                display: block;
                // @extend .cm-icon;
                color: #fff;
                // font-size: $font16;
                width: 30px;
                height: 30px;
                padding: 7px;
                font-size: 16px;
                @include border-radius(50%);
                position: relative;
                &::before {
                    width: 16px;
                    height: 16px;
                    // @extend .cm-center-vh;
                }
                &.icon-facebook {
                    background-color: #465892;
                }
                &.icon-linkedin {
                    background-color: #0079b8;
                }
                &.icon-twitter {
                    background-color: #54aced;
                }
                &.icon-instagram {
                    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                }
                // &.icon-youtube {
                //     background-color: #d32328;
                // }
                &.icon-snapchat-ghost {
                    background-color: #ECE000;
                }
                &.icon-whatsapp {
                    background-color: #52CE5F;
                }
            }
        }
    }
}

@media screen and (max-width: $tablet-breakpoint) {
    .bs-footer {
        .ftr-logo {
            width: 95px;
        }
        .quicklinks {
            padding: 20px 0 40px 0;
            ul {
                padding: 0;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .bs-footer {
        h3 {
            font-size: 11px;
        }
    }
}