.bs-list {
    h3 {
        font-family: $fnt4;
        margin-bottom: 20px;
        margin-top: 0;
        &:after {
            content: " ";
            width: 100%;
            height: 1px;
            display: block;
            position: relative;
            background-color: #e5e5e5;
            margin-top: 25px;
        }
    }
    a {
        color: #000000;
        // cursor: pointer;
        &:hover {
            color: #000000;
        }
    }
    .list-info {
        &:after {
            content: " ";
            width: 100%;
            height: 1px;
            display: block;
            position: relative;
            background-color: #e5e5e5;
            margin: 20px 0;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
        .thumb-img {
            float: left;
            height: 80px;
            width: 80px;
            // @include border-radius(6px);
            border-radius: 5px;
            .b-rad-5 {
                border-radius: 5px;
            }
        }
        .img-info {
            overflow: hidden;
            padding: 0 10px;
            .icon {
                margin-left: 3px;
            }
            p {
                margin: 0;
            }
            .thumb-head {
                font-size: 14px;
                font-family: $fnt3;
                margin: 5px 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .thumb-para {
                // font-size: 12px;
                font-family: $fnt2;
                display: block;
                /* Fallback for non-webkit */
                display: -webkit-box;
                max-width: initial;
                // max-width: 400px;
                height: $font-size*$line-height*$lines-to-show;
                /* Fallback for non-webkit */
                margin: 0 auto;
                font-size: $font-size;
                line-height: $line-height;
                -webkit-line-clamp: $lines-to-show;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    &.typ-bs-list {
        h3 {
            margin-top: 30px;
            margin-bottom: 0;
            &:after {
                display: none;
            }
        }
        .right-div {
            margin-left: 21px;
        }
        .list-info {
            float: left;
            width: 100%;
            padding-bottom: 13px;
            position: relative;
            margin-top: 20px;
            &:after {
                display: none;
            }
            .typ-bs-tag {
                position: absolute;
                left: 0;
                top: 60px;
                >.icon {
                    margin-left: 3px;
                }
            }
            .thumb-img {
                float: none;
                width: auto;
                height: 112px;
                border-radius: 5px;
            }
            .img-info {
                float: none;
                .thumb-para {
                    // font-size: 12px;
                    // font-family: $fnt2;
                    // margin-bottom: 5px;
                    // white-space: nowrap;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    display: block;
                    /* Fallback for non-webkit */
                    display: -webkit-box;
                    max-width: 400px;
                    height: $font-size*$line-height*$lines-to-show;
                    /* Fallback for non-webkit */
                    margin: 0 auto;
                    font-size: $font-size;
                    line-height: $line-height;
                    -webkit-line-clamp: $lines-to-show;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .thumb-para-head {
                    font-size: 12px;
                    font-family: $fnt1;
                }
            }
        }
    }
    &.rv-list {
        margin-top: 30px;
        // a {
        //     display: block;
        // }
        h3 {
            margin-bottom: 0;
            &:after {
                display: none;
            }
        }
        .list-info {
            margin-top: 20px;
            display: block;
            &:after {
                display: none;
            }
        }
    }
}

@media screen and (max-width: $tablet-breakpoint) {
    .bs-list {
        &.typ-bs-list {
            .right-div {
                margin-left: 0;
            }
            .list-info {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .bs-list {
        h3 {
            margin-top: 10px;
            font-size: 20px;
            &:after {
                margin-top: 15px;
            }
        }
        &.typ-bs-list {
            .list-info {
                // width: 47%;
                // float: left;
                .thumb-img {
                    // float: left;
                }
                .img-info {
                    margin: 10px;
                    padding-left: 0;
                }
            }
            .right-div {
                margin-left: 15px;
            }
        }
    }
}