.bs-header {
    padding: 8px 0;
    box-shadow: 0px 0px 34px -8px rgba(230, 32, 32, 0.20);
    -webkit-box-shadow: 0px 0px 34px -8px rgba(230, 32, 32, 0.20);
    -moz-box-shadow: 0px 0px 34px -8px rgba(230, 32, 32, 0.20);
    .bs-form {
        width: 100px;
        float: left;
        padding: 10px 0;
        .form-group {
            margin-bottom: 0;
        }
    }
    .logo-parent {
        // display: block;
        text-align: center;
        max-width: 200px;
        margin: 0 auto;
        .logo-white {
            display: none;
        }
    }
    .header-nav {
        padding-top: 10px;
        float: right;
        .nav-list {
            li {
                float: left;
            }
        }
        .profile {
            float: right;
            width: 80px;
            border-left: 1px solid $clr-border;
            padding: 0 0 0 30px;
            margin: 0 0 0 20px;
            max-height: 40px;
            img {
                height: 38px;
                width: 38px;
                @include border-radius(50%);
            }
            .dropdown {
                max-width: 38px;
            }
            .nav-list {
                li {
                    float: left;
                }
            }
        }
        .notification {
            float: left;
            a {
                font-size: 35px;
                color: #000;
                &:focus,
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .slogan {
        color: #000000;
        margin-bottom: 0;
        font-size: 11px;
        &:hover {
            color: #000000;
        }
    }
}

.main-wrapper {
    &.transparent {
        .bs-header {
            box-shadow: none;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 999;
            background: transparent;
            .logo-parent {
                .logo-white {
                    display: block;
                    margin: 0 auto;
                }
                .logo-black {
                    display: none;
                }
            }
            .select-parent {
                &::before {
                    color: #fff;
                }
            }
            .bs-form {
                .form-control {
                    color: #fff;
                    background: transparent;
                    border-bottom-color: rgba(#fff, 0.50);
                }
                .lng-parent{
                    width:60px!important;
                }
            }
            .header-nav {
                .notification {
                    a {
                        color: #fff;
                    }
                }
                .profile {
                    border-left-color: rgba(#fff, 0.50);
                }
            }
            .slogan {
                color: #fff;
                margin-bottom: 0;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    .button-parent {
        float: right;
        // padding-top: 2px;
        padding: 15px 0;
    }
}

@media screen and (max-width: $tablet-breakpoint) {
    .bs-header {
        padding: 10px 0;
        .logo-parent {
            float: left;
            width: 95px;
            padding: 4px 0;
            img {
                max-width: 100%;
            }
        }
        .header-nav {
            .nav-list {
                li {
                    padding-left: 20px;
                    width: auto;
                    margin-left: 20px;
                    &.notification {
                        padding-left: 0;
                    }
                }
            }
        }
        .bs-form {
            float: right;
            width: 80px;
            padding: 0;
        }
        .button-parent {
            padding: 0 0 0 15px;
        }
        .slogan {
            display: none;
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .bs-header {
        .header-nav {
            .nav-list {
                li {
                    padding-left: 10px;
                    width: auto;
                    margin-left: 10px;
                }
            }
        }
    }
}