.bs-banner {
    height: 619px;
    position: relative;
    // padding-top: 100px;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    &.no-shadow:after {
        content: none;
    }
    .back-swiper {
        .swiper-slide {
            height: 619px;
            opacity: 1;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
                background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
            }
        }
    }
    .home-ban-content {
        .banner-content {
            position: relative;
            z-index: 3;
            margin-top: -490px;
        }
    }
    .banner-content {
        position: relative;
        z-index: 3;
    }
    .location-group {
        /*width: 269px;*/
    }
    .heading {
        font-size: 40px;
        font-family: $fnt4;
        color: #fff;
        text-align: center;
        margin-bottom: 30px;
    }
    .search-component {
        position: relative;
        .left-parent {
            padding-right: 107px;
        }
        .btn-parent {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    &.typ-location-not-found {
        height: 400px;
        padding-top: 90px;
        .title {
            color: #fff;
            font-size: 18px;
        }
        .btn.lnk-vm {
            color: #fff;
            padding: 6px 0;
        }
    }
    &.typ-detail {
        height: 400px;
        padding-top: 50px;
        // &:before {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     bottom: 0;
        //     left: 0;
        //     background-color: #000;
        //     opacity: 0.3;
        // }
        .bs-breadcrumb {
            margin-top: -20px;
        }
        .banner-content {
            margin-top: 100px;
        }
        .heading-div {
            position: relative;
            .detail-heading {
                font-size: 30px;
                font-family: $fnt4;
                color: #fff;
                margin-bottom: 30px;
            }
            .detail-info {
                font-size: 24px;
                font-family: $fnt1;
                font-style: italic;
                color: #fff;
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-right: 80px;
            }
        }
        .icon-div {
            position: absolute;
            bottom: 40%;
            right: 0;
            z-index: 3;
            .icon {
                font-size: 24px;
                &:hover {
                    color: #fff;
                }
                &.share-box {
                    position: relative;
                    cursor: pointer;
                    .share-popup {
                        display: none;
                        position: absolute;
                        top: 55px;
                        left: -120px;
                        padding: 15px;
                        background-color: #fff;
                        width: 190px;
                        &:after {
                            bottom: 100%;
                            left: 80%;
                            border: solid transparent;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                            border-color: rgba(255, 255, 255, 0);
                            border-bottom-color: #fff;
                            border-width: 15px;
                            margin-left: -15px;
                        }
                    }
                }
            }
            .icon-favourites-fill {
                color: #f01616;
                vertical-align: middle;
                &:hover {
                    color: #f01616;
                }
            }
            a {
                color: #fff;
                &:hover {
                    color: #fff;
                }
            }
            .pipe {
                display: inline-block;
                padding: 0 0 0 15px;
                border-left: solid 1px #c4c0c0;
                line-height: 100%;
                margin-right: 30px;
            }
            .bs-tag {
                >.icon {
                    font-size: 12px;
                }
            }
        }
    }
    &.listing {
        .page-location {
            width: max-content;
            .lbl-haeding {
                font-size: 14px;
                font-family: $fnt4;
                color: #fff;
                padding-left: 36px;
            }
            .edit-icon {
                // margin-left: 50px;
                // >.icon {
                //     left: auto;
                //     right: initial;
                // }
                .type-icon-postiton {
                    right: initial;
                }
                .lbl-haeding {
                    font-family: $fnt1;
                    // &.popup-heading {
                    //     background-color: transparent;
                    //     border: none;
                    // }
                }
            }
        }
    }
    &.reserv-set-bg {
        height: 100%;
        padding: 55px;
    }
    .edit-icon {
        margin-left: 10px;
        >.icon {
            left: auto;
        }
    }
}

@media screen and (max-width: $tablet-breakpoint) {
    .bs-banner {
        &.typ-detail {
            .icon-div {
                right: 0;
            }
        }
        &.listing .page-location>span {
            float: left;
            display: inline-block;
            & .icon-map-pin {
                top: 35%;
            }
            &.edit-icon {
                margin-top: 0;
                margin-left: 15px;
                & span.lbl-haeding {
                    padding-left: 3px;
                }
            }
        }
        .search-component {
            .left-parent {
                padding-right: 0;
            }
            .btn-parent {
                position: relative;
                text-align: center;
                // margin-top: 10px;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .bs-banner {
        padding-top: 72px;
        height: 680px;
        .heading {
            font-size: 20px;
            margin-bottom: 20px;
        }
        .back-swiper {
            margin-top: -72px;
        }
        .home-ban-content {
            .banner-content {
                margin-top: -520px;
            }
        }
        .search-component {
            .btn-parent {
                position: static;
                text-align: center;
            }
            .left-parent {
                padding-right: 0;
            }
        }
        .bs-form {
            &.inline {
                background: transparent;
                [class*="col"] {
                    .form-group {
                        margin-bottom: 10px;
                        .form-control {
                            background: #fff;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
        &.typ-detail {
            padding-top: 0;
            height: 250px;
            .bs-breadcrumb {
                white-space: nowrap;
                margin-top: 0;
            }
            .banner-content {
                margin-top: 0;
                margin-left: 0;
            }
            .heading-div {
                .detail-heading {
                    font-size: 26px;
                    margin-bottom: 20px;
                }
                .detail-info {
                    font-size: 18px;
                    margin-bottom: 20px;
                    margin-right: 0;
                }
            }
            .icon-div {
                bottom: 25%;
                right: 0;
                .icon {
                    font-size: 22px;
                }
            }
        }
        &.reserv-set-bg {
            padding: 50px 15px;
        }
        &.listing .page-location>span {
            & .icon-map-pin {
                top: 27%;
            }
        }
        &.listing .page-location {
            .lbl-haeding {
                &.rf {
                    display: block;
                    clear: both;
                    margin-top: 10px;
                }
            }
        }
    }
}