.bs-accordion {
    position: relative;
    .accordion-heading {
        cursor: pointer;
        >h4 {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 200%;
        }
        .ctm-arrow {
            font-size: 20px;
            position: absolute;
            color: #595959;
            top: 50%;
            margin-top: -10px;
            right: 15px;
            @include transition(all, 0.2s, linear);
            @include rotate(180deg);
        }
        // &.collapsed {
        //     .ctm-arrow {
        //         -webkit-transform: initial;
        //         -ms-transform: initial;
        //         transform: initial;
        //     }
        // }
    }
    .accordion-tab {
        // margin-top: 20px;
        margin-bottom: 0;
        padding: 25px 30px 10px 30px;
        background-color: #f6f6f6;
    }
}