.bs-swiper-info {
    font-family: $fnt1;
    color: $clr-default;
    h4 {
        font-size: 19px;
        font-family: $fnt4;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .swiper-subhead {
        font-size: 15px;
        font-family: $fnt2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .swiper-info {
        font-size: 12px;
        /*font-size: 14px;*/
        font-family: $fnt4;
        margin-top: 10px;
    }
    p {
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .bs-swiper-info {
        h4 {
            font-size: 13px;
        }
        .swiper-subhead {
            font-size: 12px;
        }
        .swiper-info {
            font-size: 12px;
            font-family: $fnt3;
        }
    }
}