.bs-dropdown {
    .dropdown-menu {
        min-width: 215px;
        left: initial;
        right: -15px;
        top: 115%;
        webkit-box-shadow: 2px 2px 14px 2px rgba(255, 47, 0, 0.1);
        -moz-box-shadow: 2px 2px 14px 2px rgba(255, 47, 0, 0.1);
        box-shadow: 0px 2px 14px 2px rgba(255, 47, 0, 0.10);
        border: 0;
        background: #ffffff;
        padding: 5px 15px;
        @include border-radius(6px);
        &:after,
        &:before {
            bottom: 100%;
            left: 84%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #ffffff;
            border-width: 10px;
            margin-left: -10px;
        }
        &:before {
            border-bottom-color: rgba(255, 47, 0, 0.10);
            border-width: 11px;
            margin-left: -11px;
        }
        a {
            @include transition(color, 0.3s, linear);
            display: block;
            color: $clr-default;
            padding: 12px 0;
            border-bottom: 1px solid $clr-border-grey;
            font-family: $fnt4;
            font-size: 14px;
            i {
                padding: 0 10px 0 0;
                color: $clr-default;
            }
            &:hover,
            &:hover i {
                color: $clr-red;
                text-decoration: none;
            }
            &.cm-mob-links {
                display: none;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}