.bs-search-box {
    .search-list-parent {
        display: none;
        position: absolute;
        top: 103%;
        background: #fff;
        -webkit-box-shadow: 0px 0px 18px 1px rgba(255, 47, 0, 0.1);
        -moz-box-shadow: 0px 0px 18px 1px rgba(255, 47, 0, 0.1);
        box-shadow: 0px 0px 18px 1px rgba(255, 47, 0, 0.1);
        width: 100%;
        border-radius: 4px;
        .link-parent {
            padding: 10px 20px;
            li {
                a {
                    @include transition(color, 0.3s, linear);
                    color: #000;
                    font-size: 14px;
                    font-family: $fnt4;
                    padding: 5px 0;
                    display: block;
                    &:hover {
                        color: $clr-red;
                    }
                }
            }
        }
        .search-list {
            .title {
                font-size: 12px;
                margin-bottom: 5px;
                padding: 0 20px;
            }
            
        }
    }
}

.list {
    li {
        a {
            padding: 10px 20px!important;
            display: block;
            color: #000;
            border-bottom: 1px solid $clr-border-grey;
            @include transition(background, 0.3s, linear);
            .left-img {
                float: left;
                @include border-radius(4px);
            }
            .desc {
                padding-left: 10px;
                overflow: hidden;
                .name {
                    font-size: 14px;
                    font-family: $fnt4;
                    line-height: 14px;
                    margin-bottom: 4px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .location {
                    font-size: 12px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            &:hover,&:visited {
                background: #f7eaea!important;
                border:1px solid #f7eaea!important;
                div.name,div.location{
                    color:#000;
                }
            }
        }
        &:last-child {
            a {
                border-bottom: 0;
            }
        }
    }
}