.banner-silder {
    // width: 1305px;
    // .ctm-slide {
    //     padding: 20px 17px;
    //     border: 1px solid #e4e4e4;
    //     border-radius: 5px;
    //     flex: initial;
    //     -webkit-flex-shrink: initial;
    // }
    .silder-img {
        position: relative;
        color: #fff;
        //height: 111px;
        height: 150px;
        border-radius: 5px;
        &.type-content {
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 50%;
                width: 100%;
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
                background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
                border-radius: 5px;
            }
        }
    }
    .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 16px;
    }
    .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 15px;
    }
    .bs-tag {
        position: absolute;
        top: 10px;
        right: 0;
    }
    a {
        display: block;
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .banner-silder {
        width: 100%;
        .silder-img {
            height: 150px;
        }
        .banner-wrapper {
            padding-bottom: 20px;
        }
        .ctm-slide {
            padding: 0;
            border: none;
        }
    }
}