.bs-tab {
    &.tab-normal {
        .nav-tabs {
            border: none;
            // border-bottom: 2px solid rgba(240, 22, 22, 0.10);
            li.active {
                >a {
                    border: none;
                    opacity: 1;
                    font-family: $fnt4;
                    color: $clr-red;
                    border-bottom: 2px solid $clr-red;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        .nav {
            li {
                margin-bottom: -1px;
                a {
                    color: $clr-red;
                    opacity: 0.7;
                    font-family: $fnt1;
                    font-size: 18px;
                    padding: 10px 30px;
                    border: 0;
                    border-bottom: 2px solid rgba(240, 22, 22, 0.10);
                    margin-right: 0;
                    // margin-right: 54px;
                    &:focus {
                        outline: transparent;
                        background-color: transparent;
                    }
                    &:hover {
                        background: transparent;
                        // border-color: transparent;
                        // border: none;
                        // border-color: none;
                        // border-bottom: 2px solid transparent;
                    }
                }
            }
        }
    }
    &.tab-pill {
        margin-top: 20px;
        margin-bottom: 20px;
        .nav-pills {
            display: flex;
            justify-content: center;
            li {
                margin-left: 0;
                font-family: $fnt4;
                font-size: 18px;
                border: 1px solid #f2f2f2;
                border-radius: 0;
                &:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    a {
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }
                    &.active {
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
                &:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    a {
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                    &.active {
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }
                }
                a {
                    padding: 8px 22px;
                    color: $clr-red;
                    border-radius: 0;
                }
                &.active {
                    a {
                        background-color: $clr-red;
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .bs-tab {
        &.tab-normal {
            overflow: auto;
            ul {
                height: 100%;
                overflow-x: scroll;
            }
            .nav {
                li {
                    margin-bottom: 0;
                    a {
                        font-size: 16px;
                        // margin-right: 15px;
                        padding: 10px 10px;
                    }
                }
            }
        }
        &.tab-pill {
            .nav-pills {
                li {
                    font-size: 14px;
                    a {
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}