.bs-card {
    padding: 15px;
    // padding-right: 30px;
    margin: 0 auto 30px;
    max-width: 360px;
    &.typ-list {
        // min-height: 309px;
        min-height: 318px;
        padding-right: 15px;
    }
    .card-banner {
        cursor: pointer;
        position: relative;
        // height: 118px;
        height: 150px;
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 50%;
            width: 100%;
            background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
            background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
            background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
            border-radius: 5px;
        }
        .bs-tag {
            position: absolute;
            top: 10%;
            right: 0;
        }
        .card-banner-footer {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            padding: 8px 12px;
            .left {
                float: left;
            }
            .right {
                float: right;
            }
        }
        .cm-rating,
        .rating-content {
            font-size: 12px;
            vertical-align: middle;
        }
        .distance-content {
            font-size: 12px;
            font-family: $fnt4;
        }
    }
    .card-content {
        cursor: pointer;
        margin-top: 10px;
        .thumb-heading {
            font-size: 18px;
            font-family: $fnt4;
            margin-top: 5px;
            margin-bottom: 5px;
            &.type-card-heading {
                margin-top: 0;
                margin-bottom: 3px;
            }
            a {
                color: #000000;
                &:hover {
                    color: $clr-red;
                }
            }
        }
        .resto-content {
            margin-bottom: 0;
        }
        .bs-btn-grp {
            margin-left: -1px;
            margin-right: -1px;
            .cm-btn {
                margin-left: 1px;
                margin-right: 1px;
                margin-bottom: 5px;
                font-size: 14px;
            }
            &.type-filter-btn {
                margin-top: 3px;
                display: flex;
                .group-btn-icon {
                    font-size: 10px;
                    text-align: center;
                    color: #f01616;
                    margin-left: 1px;
                    margin-right: 1px;
                }
            }
        }
        .points {
            >span {
                color: $clr-red;
                font-size: 10px;
                display: inline-block;
                width: 25%;
                margin: 0 -4px;
                text-align: center;
            }
        }
        .error {
            color: $clr-red;
            margin:0;
            font-size: 14px;
            font-family: $fnt1;
        }
    }
    &.type-float {
        .card-banner {
            float: left;
            margin-right: 10px;
            &.typ-card-banner {
                height: 95px;
                width: 95px;
            }
        }
        .card-content {
            margin-top: 0;
            overflow: hidden;
            .state {
                font-family: $fnt3;
                font-size: 14px;
                margin-bottom: 10px;
                &.green {
                    color: #7dc600;
                }
                &.red {
                    color: $clr-red;
                }
            }
            .card-head {
                font-family: $fnt3;
                font-size: 14px;
                color: #000000;
                margin-bottom: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .card-para {
                // font-size: 12px;
                display: block;
                /* Fallback for non-webkit */
                display: -webkit-box;
                max-width: 400px;
                height: $font-size*$line-height*$lines-to-show;
                /* Fallback for non-webkit */
                margin: 0 auto;
                font-size: $font-size;
                line-height: $line-height;
                -webkit-line-clamp: $lines-to-show;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .card-info-parent {
            margin-top: 30px;
            margin-bottom: 20px;
            .card-info {
                float: left;
                margin-right: 13px;
                &:last-child {
                    margin-right: 0;
                    .info-para {
                        font-size: 14px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 100px;
                    }
                }
                .info-head {
                    font-size: 15px;
                    color: rgba(0, 0, 0, 0.7);
                }
                .info-para {
                    font-size: 14px;
                }
            }
        }
        .lnk-vm {
            padding: 0;
            height: 24px;
        }
        &.type-infowindow {
            .card-banner {
                &.typ-card-banner {
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }
    &.type-infowindow {
        padding: 13px 15px 0 13px;
    }
    &.up-nf-bx {
        text-align: center;
        max-width: 500px;
        img {
            width: 100px;
            margin-bottom: 10px;
        }
        .icon-map-pointer {
            font-size: 20px;
            color: $clr-red;
            font-weight: bold;
            margin-right: 15px;
        }
        .lnk-vm {
            margin-top: -6px;
        }
        .lnk-loc {
            margin-top: 10px;
        }
        .card-content {
            .card-head {
                white-space: initial;
            }
        }
    }
    &.type-filtermap {
        max-width: 100%;
        border-bottom: 1px solid #d8d9db;
        margin: 0 auto;
    }
    &.type-no-overlay {
        .card-banner:before {
            display: none;
        }
    }
}

.gm-style .gm-style-iw-c {
    padding: 0;
}

.gm-style .gm-style-iw-c .bs-card.type-filtermap {
    border: 0;
}

@media (max-width: $mobile-breakpoint) {
    .bs-card {
        .card-banner {
            height: 150px;
        }
        &.typ-list {
            min-height: auto;
        }
        .card-content {
            .thumb-heading {
                font-size: 18px;
            }
            .cm-dot {
                font-size: 12px;
            }
        }
        .bs-btn-grp {
            .cm-btn {
                font-size: 11px;
                padding: 5px 6px;
                margin-left: 0;
                margin-right: 0;
                &.filtermap-btn-style {
                    font-size: 12px;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
        &.type-float {
            .card-info-parent {
                .card-info {
                    width: 100%;
                    margin-right: 27px;
                    margin-top: 10px;
                    &:first-child {
                        margin-top: 0;
                        .info-para {
                            width: 100%;
                        }
                    }
                }
            }
        }
        &.type-filtermap {
            margin: 0 auto;
            padding: 8px;
            border-bottom: none;
            .card-banner {
                &.filter-card-banner {
                    margin-right: 8px;
                    height: 70px;
                    width: 69px;
                }
            }
        }
    }
}