.bs-breadcrumb {
    //background-color: #f6f4f5;
    font-family: $fnt4;
    // padding-top: 10px;
    // padding-bottom: 12px;
    margin-bottom: 15px;
    z-index: 1;
    position: relative;
    background-color: #f6f4f5;
    padding-top: 5px;
    padding-bottom: 7px;
    a {
        font-family: $fnt1;
        display: inline-block;
        // padding-top: 16px;
        // padding-bottom: 16px;
        // color: $clr-theme;
        color: #000;
        font-size: 12px;
        position: relative;
        margin-right: 20px;
        &:after {
            content: '-';
            display: block;
            font-size: 20px;
            margin: 0;
            position: absolute;
            line-height: 0;
            top: 42%;
            right: -15px;
        }
        &:last-child {
            font-family: $fnt4;
            &:after {
                display: none;
            }
        }
    }
    .map-text {
        color: #fff;
        &:before {
            content: '-';
            display: inline;
            font-size: 20px;
            margin: 0 6px 0 5px;
        }
    }
    .location-name {
        font-family: $fnt1;
        &:after {
            content: '-';
            display: inline;
            font-size: 20px;
            margin: 0 6px 0 8px;
        }
    }
    .page-name {
        font-family: $fnt4;
    }
    &.transparent {
        background-color: transparent;
        a {
            color: #fff;
        }
    }
}