.bs-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    &.p-com {
        width: 40px;
        height: 20px;
    }
}

.bs-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(204, 204, 204, 0.51);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-p-com:before {
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
}

input:checked+.slider {
    background-color: rgba($clr-red, 0.2);
    &:before {
        background-color: $clr-red;
    }
}

input:focus+.slider {
    box-shadow: 0 0 1px rgba($clr-red, 0.2);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:checked+.slider-p-com:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}