.bs-tag {
    color: $clr-white;
    background: $clr-yellow;
    font-size: 12px;
    line-height: 24px;
    display: inline-block;
    padding-right: 7px;
    height: 24px;
    filter: drop-shadow(0 6px 3px rgba(0, 0, 0, 0.1));
    border-right: 2px solid $clr-yellow;
    border-left: 2px solid $clr-yellow;
    position: relative;
    font-family:$fnt1;
    &::before {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        border: 12px solid $clr-yellow;
        left: -18px;
        z-index: -1;
        border-right-width: 10px;
        border-left-color: transparent;
        filter: drop-shadow(-6px 6px 3px rgba(0, 0, 0, 0.04));
    }
    &.typ-bs-tag {
        padding-right: 0;
        padding-left: 7px;
        &::before {
            right: -18px;
            left: 0;
            border-right-color: transparent;
            border-left-color: none;
        }
    }
}

//   .ribbon:after {
//     right: -32px;
//     border-left-width: 10px;
//     border-right-color: transparent;
//     filter: drop-shadow(6px 6px 3px rgba(0, 0, 0, 0.04));
//   }