.btn {
    background: $clr-red;
    color: #fff;
    font-size: 12px;
    font-family: $fnt4;
    text-transform: uppercase;
    height: 34px;
    @include transition(all, 0.3s, linear);
    &:hover {
        background: darken($color: $clr-red, $amount: 10);
        color: #fff;
    }
    &:focus,
    &:active:focus {
        outline: none;
        color: #fff;
    }
    &.big-width {
        width: 120px;
    }
    &.big {
        height: 44px;
        padding: 12px 17px;
    }
    &.lnk-vm {
        background: transparent;
        font-family: $fnt4;
        font-size: 14px;
        color: $clr-red;
        // display: block;
        &:hover,
        &:focus {
            color: $clr-red;
        }
    }
    &.line-btn {
        background-color: #fff;
        color: $clr-red;
        border: 1px solid $clr-red;
        border-radius: 4px;
        padding: 7px 15px;
        margin-bottom: 5px;
        &.active {
            background-color: $clr-red;
            color: #fff;
        }
        &.focus {
            outline: none;
        }
    }
    &.white-btn {
        background: #fff;
        color: $clr-red;
        font-family: $fnt3;
        color: #000;
        text-transform: initial;
        -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.15);
        &.with-icon {
            .icon {
                border-right: 1px solid $clr-border-grey;
                padding-right: 5px;
                margin-right: 5px;
                &.icon-facebook {
                    color: #3c5a9d;
                    font-size: 16px;
                }
                &.icon-google-plus {
                    color: #ee3b26;
                    font-size: 20px;
                }
            }
            span,
            i {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    &.pill-btn {
        font-family: $fnt1;
        font-size: 16px;
        color: $clr-red;
        background-color: #f4f4f4;
        padding: 4px 22px;
        border-radius: 50px;
        text-transform: capitalize;
        margin-bottom: 15px;
        &:hover {
            background-color: #e1e1e1;
            color: #c60d0d;
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .btn {
        font-size: 11px;
    }
}