.album-popup {
    .modal-body {
        text-align: center;
        padding: 50px 15px;
        background-color: #f2f2f4;
        .btn {
            margin-right: 10px;
        }
    }
    .uploaded-photo {
        margin-top: 30px;
        .caption {
            @include display-flex();
            @include box-align(center);
            min-height: 150px;
            form {
                width: 100%;
            }
        }
        .action-btn {
            float: right;
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .modal-body {
        padding: 30px 15px;
        .btn {
            margin-bottom: 10px;
        }
    }
}