.mod-nouiline {
    // noui-line start   //
    .noui-line {
        margin-top: 0;
    }
    .noUi-target {
        background: #f5dedd;
        border-radius: 4px;
        border: none;
        box-shadow: none;
    }
    .noUi-horizontal {
        height: 7px;
    }
    .noUi-connect {
        background: $clr-red;
    }
    .noUi-horizontal .noUi-handle {
        width: 20px;
        height: 20px;
        top: -6px;
        @include box-shadow(0px, 0px, 4px, 3px, rgba(255, 45, 0, 0.13));
        &:focus {
            outline: none;
        }
    }
    .noUi-handle {
        border: none;
        border-radius: 10px;
        background: #FFF;
        cursor: default;
        box-shadow: none;
        &:before,
        &:after {
            //background: #FFF;
            display: none;
        }
        &:focus {
            outline: none;
        }
    }
    .distance-num {
        margin-top: 10px;
        font-size: 13px;
        font-family: $fnt3;
        color: #595959;
        >.right {
            float: right;
        }
    }
    // noui-line finish   //
}