.mod-popup {
    // width: 100%;
    // background-color: rgba($color: #000000, $alpha: 0.9);
    // padding: 45px 40px 60px;
    position: relative;
    margin: 10px auto;
    .modal-content {
        padding: 0;
        background: transparent;
        box-shadow: none;
        border: none;
        margin-top: 20px;
        .modal-header {
            padding: 0;
            border-bottom: none;
            h3 {
                color: #fff;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 30px;
                font-size: 30px;
            }
            .lnk-vm {
                position: absolute;
                top: 10px;
                right: 20px;
                font-family: $fnt1;
                font-size: 30px;
                color: #fff;
            }
        }
        .modal-body {
            padding: 50px;
            border-bottom: none;
            background: #fff;
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
            >h2 {
                font-family: $fnt3;
                font-size: 18px;
                margin-bottom: 10px;
                margin-top: 0;
                &.restaurants-heading {
                    text-align: center;
                }
            }
            .subhead {
                font-size: 16px;
                margin-bottom: 20px;
                font-family:$fnt4; 
            }
            >h3 {
                font-size: 14px;
                color: #000000;
                text-align: left;
                margin-bottom: 10px;
                font-family: $fnt4;
            }
            .rating {
                margin-bottom: 20px;
                .cm-rating {
                    color: $clr-red;
                    >.icon {
                        font-size: 22px;
                    }
                }
            }
            textarea {
                width: 100%;
                margin: 0;
                margin-bottom: 20px;
                padding: 12px;
            }
            .form-control {
                border-radius: 0;
            }
            .line-btn {
                font-size: 10px;
                font-family: $fnt1;
                width: 100%;
            }
            .model-group {
                position: relative;
                .model-icon {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }
                .model-form-control {
                    padding: 6px 30px;
                }
            }
            .model-link {
                color: #6ba4e7;
                .icon {
                    margin-right: 5px;
                }
            }
            .model-search-list {
                margin-top: 15px;
                .search-title {
                    background-color: #f5f5f5;
                    padding: 8px;
                    font-size: 14px;
                    border-radius: 3px;
                }
            }
        }
        .modal-footer {
            padding: 0;
            border-top: none;
            text-align: center;
            margin-top: 20px;
            .btn-default {
                font-size: 14px;
                font-family: $fnt3;
                padding: 15px 30px;
                height: auto;
            }
        }
    }
    &.profile-image-modal{
        .modal-content{
            .modal-body{
                .subhead{
                    margin-bottom:10px;
                }
                .btn{
                    margin-top:10px;
                }
            }
        }
    }
}

.modal-backdrop.in {
    opacity: 0.9;
}

@media screen and (max-width: $mobile-breakpoint) {
    .mod-popup {
        padding: 30px 15px 30px;
        .modal-content {
            padding: 0;
            .modal-header {
                h3 {
                    font-size: 20px;
                }
                .lnk-vm {
                    font-size: 23px;
                }
            }
            .modal-body {
                padding: 15px;
                >h2 {
                    margin-bottom: 15px;
                }
                .subhead {
                    margin-bottom: 30px;
                }
                >h3 {
                    margin-bottom: 15px;
                }
                .rating {
                    margin-bottom: 20px;
                    .cm-rating {
                        >.icon {
                            font-size: 16px;
                        }
                    }
                }
            }
            .modal-footer {
                .btn-default {
                    padding: 6px 12px;
                }
            }
        }
    }
}