.datepicker {
    &.dropdown-menu {
        border: 0;
    }
    &.dropdown-menu,
    &.datepicker-inline {
        font-family: $fnt1;
        padding: 15px;
        table {
            tr {
                th,
                td {
                    //@include border-radius(4px);
                    color: #5d5d5d;
                    &.old {
                        @include opacity(0.6);
                    }
                }
                td,
                td span {
                    padding: 10px 13px;
                }
                th.dow {
                    border-bottom: solid 1px #bebebe;
                }
                .day,
                .month {
                    &.active,
                    &:hover,
                    &:focus {
                        @include border-radius(50%);
                    }
                }
            }
            .datepicker-switch {
                color: $clr-red;
                font-size: 20px;
                font-weight: 700;
                padding-bottom: 10px;
                padding-top: 10px;
                &:hover {
                    background-color: transparent;
                }
            }
            .prev,
            .next {
                position: relative;
                &:after {
                    content: ' \25C4';
                    font-size: 20px;
                    color: $clr-red;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    top: 10px;
                }
            }
            .next {
                &:after {
                    @include rotate(180deg);
                    left: 3px;
                    top: 12px;
                }
            }
        }
    }
    &.datepicker-inline {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        font-size: 13px;
        .table-condensed {
            width: 100%;
        }
        table {
            .next {
                &:after {
                    top: 19px;
                }
            }
        }
    }
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
    background: $clr-red;
    color: $clr-white;
}

@media screen and (max-width:$mobile-breakpoint) {
    .datepicker.dropdown-menu table tr td,
    .datepicker.dropdown-menu table tr td span,
    .datepicker.datepicker-inline table tr td,
    .datepicker.datepicker-inline table tr td span {
        padding: 8px 10px;
    }
    .datepicker.dropdown-menu table tr td {
        padding: 5px 3px;
    }
}