.lyt-confirmation {
    .line-btn {
        margin-bottom: 0;
        margin-left: 10px;
    }
    .txt-green {
        font-family: $fnt4;
        font-size: 22px;
        margin-bottom: 15px;
        color: #7dc600;
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-confirmation {
        .txt-green {
            font-size: 19px;
        }
        .line-btn {
            margin-left: 0;
        }
    }
    .txt-red{
        font-size: 19px;
    }

}