.lyt-tabl-book {
    position: relative;
    .lyt-wb {
        margin-top: -80px;
    }
    .book-head {
        .icon {
            font-size: 18px;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
    .bx-user-icon,
    .bx-time-icon,
    .bx-diamond-icon {
        float: left;
    }
    .bx-time-icon,
    .bx-diamond-icon {
        margin-left: 30px;
    }
    .book-border {
        border-left: 1px solid $clr-border-grey;
        padding-left: 30%;
        text-align: center;
    }
    .book-mon {
        font-family: $fnt1;
        font-size: 16px;
    }
    .book-date {
        font-family: $fnt1;
        font-size: 32px;
    }
    .bx-content {
        margin-top: 50px;
        h4 {
            font-family: $fnt4;
            font-size: 19px;
            margin-top: 0;
            margin-bottom: 15px;
        }
        .book-bx {
            &:after {
                content: " ";
                width: 100%;
                height: 1px;
                display: block;
                position: relative;
                background-color: $clr-border-grey;
                margin: 20px 0;
            }
            .line-btn {
                margin-left: 12px;
                &:first-child {
                    margin-left: 0;
                }
            }
            .bx-switch {
                position: relative;
                .bs-switch {
                    float: right;
                }
            }
            .bx-input {
                margin-top: 20px;
            }
            .lnk-vm {
                margin-top: 10px;
                padding: 0;
            }
            .ctm-error {
                color: #a3a3a3;
                margin-top: 5px;
                font-size: 11px;
            }
        }
        .terms-desc {
            color: #a3a3a3;
            font-size: 12px;
            >a {
                color: $clr-red;
                font-family: $fnt4;
            }
        }
        .book-btn {
            text-align: center;
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-tabl-book {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        .lyt-wb {
            margin-top: 20px;
            margin-bottom: 30px;
        }
        .book-para {
            font-size: 12px;
        }
        .book-mon {
            font-size: 14px;
        }
        .book-date {
            font-size: 26px;
        }
        .bx-content {
            h4 {
                font-size: 16px;
            }
            p {
                font-size: 12px;
            }
            .book-bx {
                &:after {
                    margin: 20px 0;
                }
                .bx-switch {
                    position: relative;
                    .bs-switch {
                        float: right;
                        position: absolute;
                        top: -10px;
                        right: 15px;
                    }
                }
                .line-btn {
                    margin-left: 0;
                    margin-right: 12px;
                }
            }
        }
        .bx-user-icon,
        .bx-time-icon,
        .bx-diamond-icon {
            float: none;
            margin-bottom: 5px;
        }
        .bx-user-icon {
            float: left;
            margin-right: 9px;
        }
        .bx-time-icon,
        .bx-diamond-icon {
            margin-left: 0;
        }
        .book-head {
            .icon {
                margin-right: 0;
            }
        }
    }
}