.lyt-content-sec {
    padding-top: 30px;
    padding-bottom: 10px;
}

@media screen and (min-width: $ipad-horizontal-breakpoint) {
    .slider-for-mobile {
        .swiper-wrapper {
            display: block;
            .swiper-slide {
                height: auto;
            }
        }
    }
    .lp-scroll-menu {
        width: 100%;
        height: 500px;
    }
    .lp-left-contain {
        .swiper-pagination,
        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
    }
}

@media screen and (max-width: $ipad-horizontal-breakpoint) {
    .lp-left-contain {
        overflow-x: auto;
    }
    .lyt-content-sec {
        &.type-filter-content {
            .swiper-button-next,
            .swiper-button-prev {
                width: 18px;
                height: 30px;
                margin-top: -10px;
                background-size: 18px 30px;
            }
        }
    }
}

@media screen and (max-width: $tablet-breakpoint) {
    .lyt-content-sec {
        &.type-filter-content {
            .type-filter-content {
                .lp-full-map {
                    margin-bottom: 30px;
                    float: none!important;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lp-left-contain {
        overflow-x: initial;
    }
    .lyt-content-sec {
        padding-bottom: 30px;
        &.type-filter-content {
            padding-top: 30px;
            .swiper-button-next,
            .swiper-button-prev {
                margin-top: 50px;
                background-size: 12px 27px;
            }
            .swiper-button-prev,
            .swiper-container-rtl .swiper-button-next {
                left: auto;
                right: 40px;
            }
        }
    }
}