.lyt-wb {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 68px;
    overflow: hidden;
    padding: 30px;
    h3 {
        font-family: $fnt4;
        color: $clr-default;
        font-size: 30px;
        margin-bottom: 24px;
        margin-top: 0;
    }
    .lnk-vm {
        margin-top: 20px;
        padding-left: 0;
    }
    .swiper-pagination {
        display: none;
    }
    &.loc-not-detect {
        text-align: center;
        h3 {
            margin-top: 40px;
        }
        .desc {
            font-size: 18px;
        }
        .or {
            font-size: 18px;
            font-family: $fnt3;
            font-style: italic;
            margin: 40px 0;
        }
        .lnk-vm {
            margin-top: 0;
        }
    }
}

.top {
    margin-top: -200px;
    z-index: 2;
    position: relative;
}

.middle {
    margin-top: -38px;
}

.last {
    margin-top: -38px;
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-wb {
        padding: 15px;
        h3 {
            font-size: 20px;
        }
        .lnk-vm {
            font-size: 12px;
            margin-top: 20px;
        }
        .swiper-pagination {
            display: block;
            margin-top: -4px;
            left: 50%;
            transform: translateX(-50%);
        }
        .swiper-pagination-clickable {
            .swiper-pagination-bullet {
                margin: 0 5px;
            }
        }
        .swiper-pagination-bullet-active {
            background: $clr-red;
        }
        &.loc-not-detect {
            .location-img-parent {
                img {
                    width: 70px;
                }
            }
            .desc {
                font-size: 14px;
            }
            .or {
                margin: 20px 0;
            }
            .lnk-vm {
                margin-top: 0;
            }
        }
    }
    .last {
        margin-bottom: 30px;
    }
}