.lyt-404 {
    margin: 30px auto;
    .lyt-white {
        text-align: center;
    }
    h3,
    p {
        margin-bottom: 20px;
    }
}

@media (max-width: $mobile-breakpoint) {
    .lyt-404 {
        .txt-br {
            display: inline;
        }
    }
}