.lyt-notification {
    color: #595959;
    &.legal {
        color: #000000;
        .lyt-tabl-book .bx-content .book-bx {
            margin-bottom: 20px;
            ol {
                padding-left: 15px;
            }
            table {
                border: 1px solid #000000;
                // margin: 0 auto;
                td {
                    padding: 10px 10px;
                    border: 1px solid #000000;
                }
            }
            &:after {
                display: none;
            }
        }
    }
    .lyt-white {
        margin: 55px 0;
        .box-info {
            margin-left: 0;
            margin-right: 0;
            position: relative;
            .desc-image {
                height: 80px;
                border-radius: 5px;
            }
            &:after {
                content: " ";
                display: block;
                width: 100%;
                height: 1px;
                background: #bebebe;
                margin-top: 95px;
                margin-bottom: 20px;
            }
            &:last-child {
                height: 80px;
                &:after {
                    display: none;
                }
            }
            &.com {
                h3 {
                    font-size: 14px;
                    font-family: $fnt4;
                    color: $clr-red;
                    margin-bottom: 20px;
                }
                .headind {
                    font-size: 14px;
                    &.comm {
                        margin-bottom: 20px;
                    }
                }
                .subheading {
                    font-size: 13px;
                }
                &:after {
                    content: " ";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: #bebebe;
                    margin-top: 60px;
                    margin-bottom: 20px;
                }
                &:last-child {
                    height: 40px;
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    .ctm-right {
        text-align: center;
        .icon {
            font-size: 24px;
            color: $clr-red;
        }
    }
    // .ctm-line {
    //     display: block;
    //     width: 100%;
    //     height: 1px;
    //     background: #bebebe;
    //     margin-top: 23px;
    //     margin-bottom: 20px;
    // }
    .headind {
        font-size: 18px;
        font-family: $fnt4;
        color: #000000;
    }
    .subheading {
        font-size: 14px;
        font-family: $fnt3;
    }
    .desc {
        font-size: 12px;
        margin-top: 7px;
        .desc-info {
            float: left;
            // white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .desc-time {
        float: right;
        // margin-right: 90px;
        .icon {
            margin-left: 10px;
            &.red {
                color: $clr-red;
            }
            &.green {
                color: #7dc600;
                ;
            }
        }
    }
    .btn {
        padding: 0;
        height: 0;
        margin-top: 53px;
        display: block;
        text-align: right;
    }
    .arrow {
        margin-top: 20px;
        text-align: right;
    }
    .icon-chevron-right {
        font-size: 21px;
    }
}

@media screen and (max-width: $tablet-breakpoint) {
    .lyt-notification {
        .btn {
            display: none;
        }
        .lyt-white {
            .box-info {
                &:after {
                    margin-top: 110px;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-notification {
        .lyt-white {
            margin: 30px 0;
            .box-info {
                .desc-image {
                    height: 50px;
                }
                &:after {
                    width: 95%;
                    margin-top: 120px;
                    margin-bottom: 30px;
                }
                &:last-child {
                    height: 100px;
                }
                &.com {
                    &:after {
                        width: 95%;
                        margin-top: 60px;
                    }
                    &:last-child {
                        height: 40px;
                    }
                }
            }
        }
        .ctm-right {
            text-align: none;
            height: 50px;
            width: 50px;
        }
        .ctm-line {
            margin-bottom: 30px;
        }
        .box-info {
            position: relative;
            // margin-top: 20px
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .desc-time {
            position: absolute;
            // top: -20px;
            top: 0;
            right: 15px;
            margin-right: 0;
        }
        .btn {
            display: none;
        }
    }
}