.lyt-profile {
    margin-top: 30px;
    .profile-img {
        text-align: center;
        width: 120px;
        margin: 0 auto;
        position: relative;
        img {
            border-radius: 50%;
            border: 1px solid #fbfbf9;
        }
        .icon {
            font-size: 10px;
            background-color: $clr-red;
            padding: 8px;
            border-radius: 50%;
            color: #fff;
            position: absolute;
            bottom: 13px;
            right: 0px;
        }
    }
    .lyt-wb {
        margin-top: -60px;
        .login-content {
            margin-top: 70px;
            .material {
                display: flex;
                margin-bottom: 40px;
                .icon {
                    height: 14px;
                    text-align: center;
                    padding: 22px;
                    position: absolute;
                    right: 0;
                    color: $clr-red;
                    cursor: pointer;
                }
            }
            .alert-parent {
                text-align: center;
                .bs-switch {
                    margin-left: 18px;
                    display: inline-flex;
                    vertical-align: middle;
                }
                .description {
                    font-family: $fnt4;
                    font-size: 14px;
                    min-height: 34px;
                    text-align: center;
                    display: inline-flex;
                    vertical-align: middle;
                }
            }
            .btn-sub {
                text-align: center;
                margin-top: 50px;
                .btn {
                    padding: 10px 60px;
                    height: auto;
                }
            }
        }
    }
}