.lyt-login {
    padding: 30px 0;
    .lyt-wb {
        margin-bottom: 0;
        padding: 0;
    }
    .login-banner {
        height: 520px;
        border-radius: 6px 0px 0px 6px;
        -moz-border-radius: 6px 0px 0px 6px;
        -webkit-border-radius: 6px 0px 0px 6px;
    }
    .login-content {
        min-height: 520px;
        @include display-flex();
        @include box-align(center);
        padding: 30px 35px 30px 5px;
        .login-inner {
            width: 100%;
        }
        .back {
            height: auto;
            text-align: left;
            margin-left: -7px;
            margin-bottom: 20px;
            padding: 15px 0;
            .icon {
                font-size: 21px;
                display: inline-block;
                vertical-align: middle;
            }
            span {
                display: inline-block;
            }
        }
        .heading {
            font-size: 24px;
            font-family: $fnt4;
            margin-bottom: 30px;
            margin-top: 0;
        }
        .desc {
            margin-bottom: 30px;
            color: $clr-lightgrey;
            .bold {
                font-family: $fnt4;
            }
        }
        .input-link-button {
            .btn {
                padding-left: 0;
            }
        }
        .or-seperator {
            font-size: 14px;
            font-family: $fnt4;
            color: $clr-lightgrey;
            text-align: center;
            position: relative;
            margin: 20px 0 30px;
            span {
                position: relative;
                background: #ffffff;
                padding: 0 10px;
            }
            &:before {
                height: 1px;
                width: 100px;
                background: #f4f4f4;
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -50px;
            }
        }
        .alert-parent {
            .description {
                font-size: 14px;
                color: #000;
                overflow: hidden;
                min-height: 34px;
                @include display-flex();
                @include box-align(center);
                margin-right: 70px;
            }
            .bs-switch {
                float: right;
            }
        }
    }
    .terms-desc {
        color: #a3a3a3;
        font-size: 12px;
        a {
            color: $clr-red;
            font-family: $fnt4;
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-login {
        .login-content {
            padding: 30px;
            min-height: inherit;
            background: #fff;
            @include border-radius(6px);
            .social-btn {
                text-align: center;
                a {
                    margin-bottom: 20px;
                }
            }
            .heading {
                font-size: 18px;
                margin-bottom: 15px;
            }
        }
    }
}