.lyt-booking {
    padding-top: 50px;
    padding-bottom: 30px;
    .nav-tabs {
        margin: 0 auto;
        margin-bottom: 60px;
    }
    .bs-card {
        padding-right: 15px;
        min-height: 234px;
    }
}

@media (max-width: $mobile-breakpoint) {
    .lyt-booking {
        padding-top: 30px;
        padding-bottom: 30px;
        .nav-tabs {
            margin-bottom: 30px;
        }
    }
}