.lyt-another {
    margin: 30px auto;
    .lyt-white {
        text-align: center;
    }
    .mod-popup .modal-content .modal-header .lnk-vm {
        top: 0px;
        right: 15px;
        color: #000;
        z-index: 2;
    }
    .mod-popup .modal-content .modal-body {
        text-align: left;
    }
    .loader-img,
    .loader-img1 {
        height: 34px;
    }
    .ctm-overlay {
        display: none;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        .loader-img {
            position: absolute;
            top: 50%;
            margin-top: -17px;
            left: 50%;
            margin-left: -17px;
        }
    }
    .sample-txt {
        padding: 10px 15px;
        text-align: left;
        margin-top: 10px;
    }
}