@keyframes glowing {
    0% {
        box-shadow: 0 0 -5px 5px $clr-yellow;
    }
    40% {
        box-shadow: 0 0 10px 5px $clr-yellow;
    }
    60% {
        box-shadow: 0 0 10px 5px $clr-yellow;
    }
    100% {
        box-shadow: 0 0 -5px 5px $clr-yellow;
    }
}

.lyt-wait {
    .bx-wait {
        margin-top: 40px;
        margin-bottom: 20px;
        ul {
            &:before {
                content: " ";
                width: 75px;
                height: 1px;
                display: block;
                position: relative;
                // background-color: $clr-red;
                background-color: #00D200;
                transform: rotate(90deg);
                margin-left: -33px;
            }
            li {
                font-family: "opensans-bold";
                font-size: 19px;
                &:before {
                    content: " ";
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    background-color: $clr-yellow;
                    margin-left: -6px;
                    margin-right: 10px;
                }
                &:last-child:before {
                    animation: glowing 2000ms infinite;
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 5px;
                    left: 16px;
                    width: 6px;
                    height: 10px;
                    border: solid #ffffff;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
                &:first-child {
                    margin-top: -45px;
                    &:before {
                        // background-color: $clr-red;
                        background-color: #00D200;
                    }
                }
                &:last-child {
                    margin-top: 45px;
                    &:after {
                        top: 77px;
                    }
                }
                &.success{
                    &:before {
                        background-color:#00D200;
                        animation:none;
                    }
                }
                &.cancel {
                    &:before {
                        background-color: $clr-red;
                    }
                    &:last-child:before {
                        animation: none;
                    }
                    &:after {
                        content: 'x';
                        display: block;
                        position: absolute;
                        top: 67px;
                        left: 13px;
                        width: 6px;
                        height: 10px;
                        color: #fff;
                        border: none;
                        border-width: 0;
                        transform: none;
                    }
                }
            }
        }
    }
    .bx-subnead {
        font-family: $fnt4;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .maplnk {
        margin-top: 20px;
        .icon {
            font-size: 18px;
            color: #f01616;
        }
        .lnk-vm {
            margin-top: 0;
            padding: 0;
        }
    }
}

@media screen and (max-width: $tablet-breakpoint) {
    .lyt-wait {
        .bx-wait {
            ul {
                li {
                    font-size: 16px;
                    &:after {
                        top: -36px;
                    }
                    &:last-child {
                        &:after {
                            top: 30px;
                        }
                    }
                    &.cancel {
                        &:after {
                            top: 24px;
                            left: 14px;
                        }
                    }
                }
            }
        }
        .bx-subnead {
            font-size: 14px;
        }
    }
}