.lyt-detail {
    margin-top: -80px;
    margin-bottom: 60px;
    .bs-form {
        margin-bottom: 35px;
        .form-group.bg .form-control {
            // color: $clr-red;
            border-bottom: 1px solid rgba(244, 0, 0, 0.2);
            border-radius: 0;
        }
        .bs-btn-grp {
            margin-top: 20px;
        }
        .points {
            span {
                color: #f01616;
                font-size: 10px;
                display: inline-block;
                width: 14%;
                margin: 0 -4px;
                text-align: center;
            }
        }
    }
    .offer-div {
        .second-div {
            margin-top: 25px;
        }
    }
    .gap-div {
        margin-top: 30px;
    }
    .ctm-ul {
        margin-top: 20px;
        margin-bottom: 5px;
        .ctm-li {
            &:before {
                // content: "\25BA \0020";
                // font-size: 14px;
                // color: #00d200;
                // padding-right: 8px;
                // top: 5px;
                // left: -10px;
                content: " ";
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 0 4px 8px;
                border-color: transparent transparent transparent #00d200;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
    }
    .album {
        max-width: 166px;
        margin: 0 auto;
        .album-img {
            position: relative;
            display: block;
            height: 140px;
            border-radius: 5px;
            // img {
            //     border-radius: 5px;
            // }
        }
    }
    .pill-btn {
        margin-right: 25px;
    }
    .bottom-left {
        position: absolute;
        display: block;
        bottom: 0;
        color: white;
        text-align: center;
        padding: 10px 0;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
    }
    .add-photo {
        // width: 150px;
        height: 141px;
        background-color: $clr-red;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        .add-content {
            color: #fff;
            font-size: 14px;
            >.icon {
                font-size: 30px;
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }
    .menu-items {
        margin-top: 20px;
        img {
            max-height: 100%;
        }
        .img-gallery {
            margin-bottom: 20px;
        }
        .fm-items {
            margin-bottom: 20px;
            height: 220px;
            text-align: center;
            .galleryItem {
                height: 220px;
                display: block;
            }
        }
    }
    .photos-gallery {
        img {
            max-height: 100%;
        }
        .radius-class {
            border-radius: 5px;
            height: 145px;
            display: block;
        }
        .photo-items {
            margin-bottom: 30px;
            height: 145px;
            text-align: center;
        }
    }
    .load {
        display: flex;
        justify-content: center;
        .tab-para {
            padding-top: 6px;
            color: $clr-lightgrey;
        }
    }
    .reviews {
        .profile-img {
            float: left;
            margin-right: 20px;
            .chef {
                border-radius: 50px;
            }
        }
        .profile-info {
            margin-top: 10px;
            .tab-head {
                margin-bottom: 10px;
            }
        }
        .review-info {
            margin-top: 30px;
            margin-bottom: 15px;
            font-size: 18px;
            .tab-para {
                font-size: 18px;
            }
            .rate {
                float: left;
                margin-right: 15px;
                color: #0ed30e;
                // font-size: 18px;
                font-family: $fnt4;
            }
            .no-photo {
                float: left;
                color: $clr-red;
                // font-size: 18px;
            }
            .pipe {
                display: inline-block;
                padding: 0 0 0 15px;
                border-left: solid 1px #c4c0c0;
                line-height: 100%;
                margin-right: 30px;
            }
        }
        .follow-btn {
            margin-top: 22px;
        }
        .icon-like {
            font-size: 34px;
        }
        .icon-like-filled {
            font-size: 34px;
            color: $clr-red;
        }
        .review-count{
            font-size:18px;
            line-height:35px;
        }
        .dots {
            display: inline;
        }
        .more {
            display: none;
        }
        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: $clr-red;
            border-radius: 5px;
        }
        .review-para {
            margin-bottom: 20px;
        }
        .custom-row {
            margin: 0 -6px;
        }
        .ctm-col-5 {
            float: left;
            width: 20%;
            padding: 0 6px;
            .review-images {
                position: relative;
                height: 120px;
                border-radius: 5px;
                &:hover {
                    .overlay {
                        opacity: 0.7;
                    }
                    .centered {
                        opacity: 1;
                    }
                }
            }
            .centered {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                font-family: $fnt4;
                font-size: 18px;
            }
        }
        .review-inner {
            height: 120px;
            border-radius: 5px;
            display: block;
        }
        .person-2 {
            // margin-top: 40px;
            margin-bottom: 30px;
        }
        .review-item{
            border-bottom:1px solid #ddd;
            padding:30px 0;
            &:last-child{
               border-bottom:none;
               padding-bottom:0; 
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-detail {
        margin-top: 20px;
        margin-bottom: 20px;
        .left-list {
            margin-top: 20px;
        }
        .bs-form {
            margin-bottom: 20px;
        }
        .offer-div {
            .second-div {
                margin-top: 20px;
            }
        }
        .gap-div {
            margin-top: 20px;
        }
        .ctm-ul {
            margin-top: 20px;
            .ctm-li {
                margin-bottom: 5px;
                &:before {
                    font-size: 12px;
                }
            }
        }
        .cost-right-div {
            margin-top: 20px;
        }
        .album {
            margin: 0 auto;
            margin-bottom: 20px;
            .album-img {
                height: 120px;
            }
        }
        .pill-btn {
            margin-right: 10px;
            font-size: 11px;
            padding: 6px 12px;
        }
        .add-photo {
            max-width: 166px;
            height: 120px;
        }
        .pill-btn,
        .cm-btn {
            margin-bottom: 5px;
        }
        .menu-items {
            .fm-items {
                margin-bottom: 30px;
                height: auto;
                .galleryItem {
                    height: 175px;
                }
            }
        }
        .photos-gallery {
            .photo-items {
                height: auto
            }
            .radius-class {
                height: 115px;
            }
        }
        .load {
            .tab-para {
                padding-top: 8px;
            }
        }
        .reviews {
            .profile-img {
                margin-right: 13px;
            }
            .profile-info {
                .tab-head,
                .tab-head-regular {
                    font-size: 14px;
                }
            }
            .review-info {
                font-size: 12px;
                .tab-para {
                    font-size: 12px;
                }
                .rate {
                    margin-right: 12px;
                }
                .tab-head-regular {
                    font-size: 12px;
                }
                .pipe {
                    margin-right: 5px;
                    line-height: 1.43;
                }
            }
            .follow-btn {
                padding-left: 0;
                .btn {
                    padding: 6px 9px;
                }
            }
            .ctm-col-5 {
                width: 33.33%;
                padding: 0 5px;
                margin-bottom: 15px;
                .review-images {
                    height: 80px;
                }
            }
            .person-2 {
                margin-top: 40px;
            }
            .review-inner {
                height: 80px;
            }
        }
    }
}

@media screen and (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
    .lyt-detail {
        .menu-items {
            .fm-items {
                margin-bottom: 30px;
                height: auto;
                .galleryItem {
                    height: 315px;
                }
            }
        }
    }
}