.lyt-lp {
    .bs-banner {
        height: 100%;
        padding: 5px 15px 15px;
        .search-component {
            margin-top: 15px;
        }
        .form-group {
            margin-bottom: 0;
        }
        &.full-height {
            height: 400px;
            padding-top: 50px;
        }
    }
    .formobile {
        display: none;
        margin-bottom: 20px;
        // .sort-click {
        //     margin-left: 8%;
        // }
        .bs-form {
            display: inline-block;
            float: right;
            .form-group {
                margin-bottom: 0;
                .form-control {
                    padding: 6px 12px;
                    border: 2px solid $clr-border-grey;
                }
            }
        }
    }
    .lp-map {
        #map {
            height: 200px;
        }
        #map-reservation {
            height: 500px;
            position: relative;
            overflow: hidden;
            width: 100%;
        }
    }
    .lp-left-info {
        padding-left: 15px;
        padding-right: 15px;
        // height: fit-content;
        .lnk-ca {
            text-align: right;
            .lnk-vm {
                margin-top: 15px;
                text-transform: uppercase;
                font-size: 14px;
                margin-right: 0;
                font-family: $fnt1;
            }
        }
        .btn-done {
            text-align: right;
            display: none;
        }
        h3 {
            font-family: $fnt4;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 18px;
        }
        .sort-btn {
            margin-top: 18px;
        }
        .btn-group .btn+.btn,
        .btn-group .btn+.btn-group,
        .btn-group .btn-group+.btn,
        .btn-group .btn-group+.btn-group {
            margin-left: 10px;
            border: 1px solid $clr-red;
            border-radius: 4px;
            &:focus {
                outline: none;
            }
        }
        .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
            border: 1px solid $clr-red;
            border-radius: 4px;
        }
        .ctm-options {
            &:after {
                content: " ";
                width: 100%;
                height: 1px;
                display: inline-block;
                position: relative;
                background-color: #e5e5e5;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        // panel start  //
        .panel-group {
            margin: 10px -15px;
            .panel {
                border: none;
                border-radius: 0;
                box-shadow: none;
                // margin: 30px 0;
                &:after {
                    content: " ";
                    width: 100%;
                    height: 1px;
                    display: block;
                    position: relative;
                    background-color: #e5e5e5;
                    margin-top: 0;
                }
                .panel-heading {
                    background-color: #fff;
                    color: #000000;
                    padding: 0;
                    font-family: $fnt3;
                    .panel-title {
                        font-size: 14px;
                        a.collapsed {
                            .ctm-arrow {
                                -webkit-transform: initial;
                                -ms-transform: initial;
                                transform: initial;
                            }
                        }
                        .lnk-block {
                            display: block;
                            padding: 15px 15px;
                            position: relative
                        }
                    }
                }
                .panel-collapse {
                    .collapse {
                        .in {
                            margin: 0 -15px;
                        }
                    }
                }
                .panel-body {
                    padding: 0;
                }
            }
            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border-top: none;
            }
            .bs-accordion .accordion-heading .ctm-arrow {
                font-size: 14px;
            }
            .bs-accordion .accordion-tab {
                padding: 20px 15px 10px 15px;
            }
            .bs-checkbx .form-group label:before {
                padding: 7px;
            }
            .bs-checkbx .form-group input:checked+label:before {
                padding: 7px;
            }
            .bs-checkbx .form-group input:checked+label:after {
                top: 3px;
                left: 7px;
                width: 6px;
                height: 10px;
            }
        }
        // panel end  //
        .Amenities {
            margin-bottom: 30px;
            .panel {
                &:after {
                    display: none;
                }
            }
        }
    }
    .lp-right-info {
        h2 {
            margin-top: 0;
            margin-bottom: 20px;
            font-family: $fnt3;
        }
    }
}

//reserv-scroll-menu
.lp-scroll-menu {
    // width: 100%;
    // height: 500px;
    /*overflow-y: auto;*/
    a {
        display: block;
    }
    .bs-card:last-child {
        border: none;
    }
    .mCSB_inside {
        >.mCSB_container {
            margin-right: 0;
        }
    }
}

.swiper-pagination {
    display: block;
    margin-top: -4px;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-pagination-clickable {
    .swiper-pagination-bullet {
        margin: 0 5px;
    }
}

.swiper-pagination-bullet-active {
    background: $clr-red;
}

@media screen and (max-width: $tablet-breakpoint) {
    .lyt-lp {
        .bs-banner {
            .search-component {
                .btn-parent {
                    margin-top: 15px;
                }
            }
        }
        .lp-left-info {
            position: fixed;
            z-index: 999;
            background: #fff;
            overflow: scroll;
            width: 100%;
            height: 100%;
            top: 100%;
            left: 0;
            @include transition(top, 0.3s, linear);
            &.active {
                top: 0;
            }
            .lnk-ca {
                text-align: right;
                float: right;
                .lnk-vm {
                    float: left;
                }
            }
            .btn-done {
                float: left;
                margin-top: 12px;
            }
            .filter {
                margin-top: 30px;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-lp {
        .bs-banner {
            padding: 50px 15px;
            .btn.big {
                margin-top: 10px;
            }
            .page-location {
                .icon-map-pin {
                    top: 20%;
                }
                .lbl-haeding {
                    padding-left: 30px;
                    font-size: 12px;
                }
                .edit-icon {
                    display: block;
                    margin-top: 20px;
                    margin-left: 0;
                    .icon-edit {
                        top: 82%;
                    }
                }
            }
        }
        .lp-right-info {
            h2 {
                font-size: 20px;
            }
        }
    }
    .lp-full-map {
        margin-bottom: 30px;
        float: none!important;
    }
    .lp-left-contain {
        padding-bottom: 20px;
        .swiper-pagination {
            margin-top: 0;
        }
    }
}