.lyt-gray {
    background: #f6f6f6;
    padding: 32px 0;
    .btm-line {
        font-size: 15px;
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-gray {
        padding: 15px 0;
        .btm-line {
            font-size: 12px;
        }
    }
}