// @import "../plugins/bootstrap/variables";
// @import "../config/mixin";
@import "../config/font-variables";
$fnt1: 'CareemRegular';
$fnt2: 'CareemRegular';
$fnt3: 'CareemBold';
$fnt4: 'CareemBold';
@import '../custom-inner.scss';
* {
    direction: rtl;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: right;
}

@media screen and (min-width:1200px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: right;
    }
}

@media screen and (min-width:992px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: right;
    }
}

@media screen and (min-width:768px) {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: right;
    }
}

.text-right {
    text-align: left;
}

.text-left {
    text-align: right;
}

ul {
    padding-right: 0;
}

.datepicker {
    direction: rtl;
}

.pull-left {
    float: right !important;
}

.pull-right {
    float: left !important;
}

.gm-ui-hover-effect {
    right: auto !important;
    left: -6px !important;
}

.mCSB_scrollTools {
    left: 0;
    right: auto;
}

// bs-header //
.bs-header {
    .header-nav {
        float: left;
        .nav-list {
            li {
                float: right;
            }
        }
        .profile {
            border-right: 1px solid $clr-border;
            border-left: none;
            padding: 0 30px 0 0px;
            margin: 0 20px 0 0px;
        }
    }
    .bs-form {
        float: right;
    }
}

.main-wrapper {
    &.transparent {
        .bs-header {
            .header-nav {
                .profile {
                    border-right-color: rgba(#fff, 0.50);
                }
            }
        }
    }
    .button-parent {
        float: left;
    }
}

// bs-form //
.bs-form {
    .form-group {
        &.select-parent {
            &:before {
                left: 0;
                right: auto;
            }
        }
        &.left-icon {
            .icon {
                right: 0;
                left: auto;
            }
            .form-control {
                padding-right: 25px;
            }
            .location-text {
                margin-right: 20px;
            }
            .edit-icon {
                left: auto;
                right: initial;
                position: absolute;
            }
        }
        &.bg {
            &.left-icon {
                .form-control {
                    padding-right: 36px;
                    padding-left: 0;
                }
                .icon {
                    right: 10px;
                    left: initial;
                }
            }
            &.select-parent {
                &:before {
                    left: 12px;
                    right: auto;
                }
            }
        }
        .material {
            .label-input {
                left: initial;
                right: 0;
            }
        }
    }
    .social-btn {
        .btn {
            &.white-btn {
                margin-bottom: 5px;
            }
        }
    }
}

// bs-banner //
.bs-banner {
    .search-component {
        .left-parent {
            padding-left: 107px;
            padding-right: 0;
        }
        .btn-parent {
            left: 0;
            top: 0;
            right: auto;
        }
    }
    &.typ-location-not-found {
        .btn.lnk-vm {
            .icon-map-pin {
                float: right;
            }
        }
    }
    &.typ-detail {
        .heading-div {
            .detail-info {
                margin-right: 0;
                margin-left: 80px;
            }
        }
        .icon-div {
            left: 0;
            right: auto;
            .pipe {
                border-left: none;
                margin-right: 0;
                border-right: solid 1px #c4c0c0;
                margin-left: 30px;
                padding: 0 15px 0 0px;
            }
            .icon {
                &.share-box {
                    .share-popup {
                        right: -140px;
                        left: 0;
                        &:after {
                            right: 80%;
                        }
                        .social-icons {
                            a {
                                float: right;
                                margin: 0 0px 0 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.listing {
        .page-location {
            .lbl-haeding {
                padding-right: 36px;
                padding-left: 0;
                float: right;
            }
            .edit-icon {
                margin-left: 0;
                margin-right: 50px;
                float: right;
                position: relative;
                >.icon {
                    left: 0;
                    right: 0;
                }
                .type-icon-postiton {
                    //  right: 0;
                    //  position: absolute;
                    right: -39px;
                    position: absolute;
                    top: 9px;
                }
            }
        }
    }
}

// bs-footer //
.bs-footer {
    .social {
        p.social-icons {
            a {
                float: right;
                margin: 0 0 0 10px;
            }
        }
    }
}

// bs-dropdown //
.bs-dropdown {
    .dropdown-menu {
        left: -3px;
        right: initial;
        &:after,
        &:before {
            left: 10%;
        }
    }
}

// bs-swiper //
.banner-silder {
    .bs-tag {
        right: initial;
        left: 1px;
    }
    .bottom-left {
        right: 16px;
        left: auto;
    }
    .bottom-right {
        left: 15px;
        right: auto;
    }
}

//bs-swiper-info //
.bs-swiper-info {
    h4 {
        span {
            float: right;
            margin-left: 10px;
        }
    }
    //  .swiper-subhead {
    //      float: right;
    //  }
}

// bs-tag //
.bs-tag {
    &::before {
        right: -18px;
        border-left-width: 10px;
        border-right-color: transparent;
        left: 0;
        border-left-color: transparent;
    }
    &.typ-bs-tag {
        padding-left: 0;
        padding-right: 7px;
        &::before {
            left: -18px;
            right: 0;
            border-left-color: transparent;
            border-right-color: none;
        }
    }
}

// bs-card //
.bs-card {
    .card-banner {
        .bs-tag {
            left: 0;
            right: initial;
        }
        .card-banner-footer {
            .left {
                float: right;
            }
            .right {
                float: left;
            }
            .icon-favourites {
                float: right;
                display: block;
            }
            .icon-favourites-fill {
                float: right;
                display: block;
            }
        }
        .distance-content {
            float: right;
            display: block;
            line-height: 14px;
            margin-right: 5px;
        }
    }
    &.type-float {
        .card-banner {
            float: right;
            margin-right: 0;
            margin-left: 10px;
        }
    }
}

// bs-accordion //
.bs-accordion {
    .accordion-heading {
        .ctm-arrow {
            left: 15px;
            right: initial;
        }
    }
}

// bs-checkbx //
.bs-checkbx {
    .form-group label:before {
        margin-left: 10px;
    }
    .form-group input:checked+label:after {
        right: 16px;
        left: 0px;
    }
}

// bs-list //
.bs-list {
    .list-info {
        .thumb-img {
            float: right;
        }
        .img-info {
            padding-left: 0;
            padding-right: 10px;
        }
    }
    &.typ-bs-list {
        .list-info {
            float: right;
            .typ-bs-tag {
                left: initial;
                right: 0;
            }
        }
    }
}

// navs-scss //
.nav-tabs {
    >li {
        float: right;
    }
}

//  lyt-detail//
.lyt-detail {
    .pill-btn {
        margin-left: 25px;
        margin-right: 0;
    }
    .ctm-ul {
        .ctm-li {
            &:before {
                border-width: 4px 8px 4px 0px;
                border-color: transparent #00d200 transparent transparent;
                margin-left: 5px;
                margin-right: 0;
            }
        }
    }
    .reviews {
        .profile-img {
            float: right;
            margin-right: 0;
            margin-left: 20px;
        }
        .review-info {
            .rate {
                float: right;
                margin-right: 0;
                margin-left: 15px;
            }
            .no-photo {
                float: right;
            }
            .pipe {
                border-left: none;
                margin-right: 0;
                margin-left: 30px;
                border-right: solid 1px #c4c0c0;
                padding: 0 15px 0 0;
            }
        }
    }
}

// bs-tab //
.bs-tab {
    &.tab-pill {
        .nav-pills {
            li {
                &:first-child {
                    a {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                    &.active {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
                &:last-child {
                    a {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }
                    &.active {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }
        }
    }
}

//  lyt-wb //
.lyt-wb {
    &.loc-not-detect {
        .lnk-vm {
            .icon-map-pointer {
                float: right;
            }
        }
    }
}

// lyt-login //
.lyt-login {
    .login-content {
        .back {
            .icon {
                transform: rotate(180deg);
            }
        }
    }
}

// lyt-notification //
.lyt-notification {
    .desc {
        .desc-info {
            float: right;
        }
    }
    .desc-time {
        float: left;
        .icon {
            float: left;
            margin-left: 0;
            margin-right: 10px;
        }
    }
    .btn {
        text-align: left;
    }
    .arrow {
        transform: rotate(180deg);
    }
}

//mod-popup //
.mod-popup {
    .modal-content {
        .modal-body {
            >h3 {
                text-align: right;
            }
            .icon-camera {
                float: right;
                margin-left: 5px;
            }
        }
    }
}

//lyt-profile //
.lyt-profile {
    .profile-img {
        .icon {
            right: initial;
            left: 0;
        }
    }
    .lyt-wb {
        .login-content {
            .material {
                .icon {
                    right: initial;
                    left: 0;
                }
            }
            .alert-parent {
                .bs-switch {
                    margin-left: initial;
                    margin-right: 18px;
                }
            }
        }
    }
}

// lyt-tabl-book //
.lyt-tabl-book {
    .bx-user-icon,
    .bx-time-icon,
    .bx-diamond-icon {
        float: right;
    }
    .bx-time-icon,
    .bx-diamond-icon {
        margin-left: 0;
        margin-right: 30px;
    }
    .book-border {
        border-left: none;
        padding-left: 0;
        border-right: 1px solid $clr-border-grey;
        padding-right: 30%;
    }
    .book-head {
        .icon {
            float: right;
            margin-right: 0;
            margin-left: 5px;
        }
    }
    .bx-content {
        .book-bx {
            .line-btn {
                margin-left: initial;
                margin-right: 12px;
                &:first-child {
                    margin-left: initial;
                    margin-right: 0;
                }
            }
            .bx-switch {
                .bs-switch {
                    float: left;
                }
            }
        }
    }
}

//lyt-wait //
.lyt-wait {
    .bx-wait {
        ul {
            &:before {
                margin-right: -33px;
                margin-left: initial;
            }
            li {
                &:before {
                    margin-left: 10px;
                    margin-right: -6px;
                }
                &:after {
                    left: 0;
                    right: 16px;
                }
                &.cancel {
                    &:after {
                        left: 0;
                        right: 14px;
                    }
                }
            }
        }
    }
}

//lyt-confirmation //
.lyt-confirmation {
    .line-btn {
        margin-right: 10px;
        margin-left: 0;
    }
}

.flag-input{
    width:90%;
    * {
        direction: ltr;
    }
    .label-input{direction:rtl!important;}
}

.bs-breadcrumb a{
    margin-right:0;
    margin-left:20px;
    &:after{
        right:auto;
        left:-15px;
    }
}


@media screen and (max-width: $tablet-breakpoint) {
    //bs-header//
    .bs-header {
        .logo-parent {
            float: right;
        }
        .header-nav {
            .nav-list {
                li {
                    padding-left: 0;
                    margin-left: 0;
                    padding-right: 20px;
                    margin-right: 20px;
                    &.notification {
                        padding-right: 0;
                    }
                }
            }
        }
        .bs-form {
            float: left;
        }
        .button-parent {
            padding-left: 0;
            padding-right: 15px;
        }
    }
    //lyt-lp//
    .lyt-lp {
        .lp-left-info {
            .lnk-ca {
                float: left;
                .lnk-vm {
                    float: right;
                }
            }
        }
        .formobile {
            .bs-form {
                float: left;
            }
        }
    }
    .bs-banner {
        .search-component {
            .left-parent {
                padding-left: 0;
            }
        }
        &.listing {
            .page-location>span {
                float: right;
                // .lbl-haeding {
                //     padding-right: 36px;
                //     padding-left: 0;
                //     float: right;
                // }
                .edit-icon {
                    margin-left: 0;
                    margin-right: 0;
                    float: none;
                    position: initial;
                    .type-icon-postiton {
                        right: 0;
                        position: relative;
                        top: 25px;
                        left: auto;
                    }
                }
                .lbl-haeding.rf {
                    margin-top: 7px;
                }
            }
        }
    }
}

// .intl-tel-input.allow-dropdown .flag-container,
// .intl-tel-input.separate-dial-code .flag-container {
//     right: 0;
//     left: auto;
// }

@media screen and (max-width: $mobile-breakpoint) {
    .bs-header {
        .header-nav {
            .nav-list {
                li {
                    padding-right: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
    // bs-banner//
    .bs-banner {
        .search-component {
            .left-parent {
                padding-left: 0;
            }
        }
        &.typ-detail {
            .heading-div {
                .detail-info {
                    margin-left: 0;
                }
            }
        }
        //  &.listing {
        //      .page-location {
        //          .edit-icon {
        //              margin-left: 0;
        //              margin-right: 0;
        //              float: none;
        //              position: initial;
        //          }
        //      }
        //  }
        &.listing {
            .page-location {
                .lbl-haeding {
                    padding-left: 15px;
                    padding-right: 30px;
                    float: none;
                }
                .edit-icon {
                    margin-left: 0;
                    margin-right: 0;
                    float: none;
                    position: initial;
                    .type-icon-postiton {
                        right: initial;
                        position: absolute;
                        top: 7px;
                        left: auto;
                    }
                }
                .lbl-haeding {
                    &.rf {
                        margin-top: 25px;
                        margin-right: 0px;
                    }
                }
            }
        }
    }
    //bs-card//
    .bs-card {
        &.type-float {
            .card-info-parent {
                .card-info {
                    margin-right: initial;
                    margin-left: 27px;
                    float: right;
                    &:last-child {
                        float: right;
                    }
                }
            }
        }
    }
    // lyt-lp //
    .lyt-lp {
        .bs-banner {
            .page-location {
                .lbl-haeding {
                    padding-left: 15px;
                    padding-right: 30px;
                    float: none;
                }
            }
        }
        .formobile {
            .bs-form {
                float: left;
            }
        }
        .lp-full-map {
            float: none!important;
        }
    }
    // lyt-detail //
    .lyt-detail {
        .reviews {
            .review-info {
                .pipe {
                    margin-left: 5px;
                }
            }
        }
    }
    .lyt-notification {
        .desc-time {
            top: -85px;
            left: 15px;
            margin-left: 0;
            right: initial;
        }
    }
    // lyt-tabl-book //
    .lyt-tabl-book {
        .bx-content {
            .book-bx {
                .line-btn {
                    margin-left: 12px;
                    margin-right: 0;
                    &:first-child {
                        margin-left: 12px;
                    }
                }
                .bx-switch {
                    .bs-switch {
                        left: 15px;
                        right: initial;
                    }
                }
            }
        }
        .bx-user-icon {
            margin-right: 0;
            float: right;
            margin-left: 6px;
        }
        .bx-time-icon,
        .bx-diamond-icon {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .lyt-wait {
        .bx-wait {
            ul {
                li {
                    &:after {
                        top: -37px;
                    }
                    &:last-child {
                        &:after {
                            top: 29px;
                        }
                    }
                    &.cancel {
                        &:after {
                            top: 24px;
                            left: 0;
                            right: 14px;
                        }
                    }
                }
            }
        }
    }
    .lyt-confirmation {
        .line-btn {
            margin-right: 0;
        }
    }
    .lyt-content-sec {
        &.type-filter-content {
            .swiper-button-next,
            .swiper-container-rtl .swiper-button-prev {
                right: auto;
                left: 40px;
            }
            .swiper-button-prev,
            .swiper-container-rtl .swiper-button-next {
                left: 10px;
                right: auto;
            }
        }
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    .col-md-offset-2 {
        margin-right: 16.67%;
        margin-left: 0;
    }
    .col-md-offset-4 {
        margin-right: 33.33%;
    }
}