<header class="bs-header clearfix transparent">
    <div class="container">
        <div class="header-nav clearfix">
            <ul class="nav-list clearfix">
                <li class="notification">
                    <a href="#" class="icon-notification"></a>
                </li>
                <li class="profile">
                    <div class="dropdown bs-dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/avatar.png" alt="My Profile"></a>
                        <div class="dropdown-menu profile-dropdown" aria-labelledby="dropdownMenuLink">
                            <a href="#"><i class="icon-wishlist"></i> Favorites</a>
                            <a href="#"><i class="icon-upcoming-courses"></i>Upcoming courses</a>
                            <a href="#"><i class="icon-booking"></i>Booking</a>
                            <a href="#"><i class="icon-booking"></i>Booking request</a>
                            <a href="#"><i class="icon-catalogue"></i>Catalogue</a>
                            <a href="#"><i class="icon-login"></i>Login</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- <div class="button-parent">
            <button class="btn big login-btn">Login</button>
        </div> -->
        <div class="bs-form">
            <div class="form-group select-parent lng-parent">
                <select class="form-control select"> 
                    <option value="En" data-val="En">
                        English 
                    </option>
                    <option value="Ar"  data-val="Ar">
                        Arabic
                    </option>
                </select>
            </div>
        </div>
        <div class="logo-parent">


            <a href="home.html">
                <img src="assets/images/logo.png" class="logo-white" alt="book a resto logo " />
                <img src="assets/images/logo-black.png" class="logo-black" alt="book a resto logo " />
                <p class="slogan">Right place, right time, every time</p>
            </a>
        </div>
    </div>
</header>