<script src="assets/js/vendor.js">
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfXVo5RN43UZp0Y4I1SYA2831HcdSl2xs&callback=initMap">
</script>
<script src="assets/js/custom.js"></script>